<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron">
    <h2 class="display-4">Open AI Forum</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Date: 3/1/2022 @ 12:30 <br> Location: Rm 128</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://fau-ai-in-medicine.github.io/ai-in-med-website/events/" role="button">Learn more</a>
    </p>
  </div>

  <div class="jumbotron">
    <h2 class="display-4">Journal Club</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Date: Every Friday @ 1:00 <br> Location: TBD</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://fau-ai-in-medicine.github.io/ai-in-med-website/journal-club/" role="button">Learn more</a>
    </p>
  </div>

</body>
</html>
